body {
  margin:0;
}
div{
  width:100%;
}
.header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  float:right;
}
.header ul li{
  float:left;
  margin-right: 0.5em;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}
.header ul li a{
  color: black;
}
.header ul li a:hover{
  color: #333;
}

.login {
    width: 25%;
    float: left;
    border:black;
}
.carousel {
    width: 75%;
    float: left;
}
